<li>
	{{burger_names}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Eat!{{else}}Devour!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
